<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title=@{'Ação ' + ${operationId}})">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body>
    <div id="container">
        <nav th:replace="comum :: navbar"></nav>
        <div id="page-wrapper">
            <button onclick="topFunction()" id="btn-top" title="Topo"><i class="fa fa-arrow-up fa-2x"></i></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb" style="margin-top: 20px;">
                            <li>
                                <i class="fa fa-home"></i>&nbsp;&nbsp;<a th:href="@{/}">Início</a>
                            </li>
                            <li>
                                <i class="fa fa-folder"></i>&nbsp;&nbsp;<a th:href="@{/acoes}">Ações</a>
                            </li>
                            <li>
                                <i class="fa fa-file"></i>&nbsp;&nbsp; <a th:href="@{'/acoes/' + ${operationId}}" th:text="${operationId}"></a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row" th:if="operation">
                    <div class="col-lg-12">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row heading-font rounded-heading">
                                <div class="col-xs-4">
                                    <a class="data-font" th:href="@{'/acoes/' + ${operation.id}}" th:text="@{'Lote ' + ${operation.id}}"></a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <span th:text="${operation.portfolioName}"></span>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <img th:src="@{'/' + ${operation.icon}}" height="24" />
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <div class="row align-items-center">
                                    <div class="col-md-2 col-md-offset-0 rounded-box">
                                        <span>Número de Clientes</span>
                                        <br />
                                        <span class="data-font" th:text="${#numbers.formatDecimal(operation.debtorAmount, 0, 'POINT', 0, 'COMMA')}"></span>
                                    </div>
                                    <div class="col-md-2 col-md-offset-0 rounded-box">
                                        <span>Número de Propostas</span>
                                        <br />
                                        <span class="data-font" th:text="${#numbers.formatDecimal(operation.proposalAmount, 0, 'POINT', 0, 'COMMA')}"></span>
                                    </div>
                                    <div class="col-md-2 col-md-offset-0 rounded-box">
                                        <span>Valor Financeiro</span>
                                        <br />
                                        <span class="data-font" th:text="@{'R$ ' + ${#numbers.formatDecimal(operation.financialValue, 0, 'POINT', 2, 'COMMA')}}"></span>
                                    </div>
                                    <div class="col-md-2 col-md-offset-0 rounded-box">
                                        <span>Ticket Médio</span>
                                        <br />
                                        <span class="data-font" th:text="@{'R$ ' + ${#numbers.formatDecimal(operation.lifetimeValue, 0, 'POINT', 2, 'COMMA')}}"></span>
                                    </div>
                                    <div class="col-md-2 col-md-offset-2 rounded-box">
                                        <span class=" data-font" th:text="${operation.status}"></span>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-1 col-md-offset-0 rounded-box" title="Data de Envio">
                                        <span class="fa fa-calendar-plus-o"></span>&nbsp;&nbsp;<span class="data-font" th:text="${operation.uploadDate} == null ? '--/--' : ${#dates.format(operation.uploadDate, 'dd/MM')}"></span>
                                    </div>
                                    <div class="col-md-1 col-md-offset-0 rounded-box" title="Data de Aprovação">
                                        <span class="fa fa-calendar-check-o"></span>&nbsp;&nbsp;<span class="data-font" th:text="${operation.approvalDate} == null ? '--/--' : ${#dates.format(operation.approvalDate, 'dd/MM')}"></span>
                                    </div>
                                    <div class="col-md-1 col-md-offset-0 rounded-box" title="Data de Vencimento">
                                        <span class="fa fa-calendar-minus-o"></span>&nbsp;&nbsp;<span class="data-font" th:text="${operation.expiryDate} == null ? '--/--' : ${#dates.format(operation.expiryDate, 'dd/MM')}"></span>
                                    </div>
                                    <form method="get">
                                        <button class="col-md-1 col-md-offset-2 rounded-box btn btn-secondary fa fa-envelope fa-lg" style="color: #cc8800" title="Email"></button>
                                    </form>
                                    <form method="get">
                                        <button class="col-md-1 col-md-offset-0 rounded-box btn btn-secondary fa fa-paper-plane fa-lg" style="color: #0039e6" title="SMS"></button>
                                    </form>
                                    <form th:action="@{'/acoes/' + ${operation.id}}" method="get">
                                        <button class="col-md-1 col-md-offset-2 rounded-box btn btn-secondary fa fa-info-circle fa-lg" title="Detalhes"></button>
                                    </form>
                                    <form method="get">
                                        <button class="col-md-1 col-md-offset-0 rounded-box btn btn-secondary fa fa-times-circle fa-lg" title="Cancelar"></button>
                                    </form>
                                    <form method="get">
                                        <button class="col-md-1 col-md-offset-0 rounded-box btn btn-secondary fa fa-check-circle fa-lg" title="Aprovar"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Resultados</div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div id="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Propostas</div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover table-responsive" id="propostas_table">
                                    <thead>
                                        <tr>
                                            <th>Número de Parcelas</th>
                                            <th>Número de Clientes</th>
                                            <th>Valor de Entrada</th>
                                            <th>Ticket Médio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="proposal : ${operation.proposals}">
                                            <td th:text="${proposal.installmentAmount}"></td>
                                            <td th:text="${#numbers.formatInteger(proposal.debtorAmount, 0, 'POINT')}"></td>
                                            <td th:text="${#numbers.formatDecimal(proposal.downPayment, 0, 'POINT', 2, 'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(proposal.lifetimeValue, 0, 'POINT', 2, 'COMMA')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Cadastros</div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="table_cadastros">
                                    <thead>
                                        <tr>
                                            <th>Segmento</th>
                                            <th>Número de Clientes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="register : ${operation.registers}">
                                            <td th:text="${register.group}"></td>
                                            <td th:text="${#numbers.formatInteger(register.debtorAmount, 0, 'POINT')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Arquivos</div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="file : ${operation.files}">
                                            <td th:text="${file.name}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="comum :: jqueryjs"></script>
    <script th:replace="comum :: bootstrapjs"></script>
    <script th:replace="comum :: amchartsjs"></script>
    <script th:replace="comum :: amchartsfunneljs"></script>
    <script th:replace="comum :: customjs"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var chart = AmCharts.makeChart(
            "chartdiv",
            {
                "type" : "funnel",
                "theme" : "none",
                "dataProvider" : [
                    {
                        "title" : "Acessos",
                        "value" : /*[[${operation.result.accessAmount}]]*/
                        
                    },
                    {
                        "title" : "Propostas Visualizadas",
                        "value" : /*[[${operation.result.visualizedProposalAmount}]]*/
                    },
                    {
                        "title" : "Propostas Aceitas",
                        "value" : /*[[${operation.result.acceptedProposalAmount}]]*/
                    },
                    {
                        "title" : "Contrapropostas",
                        "value" : /*[[${operation.result.counterProposalAmount}]]*/
                    },
                    {
                        "title" : "Boletos Gerados",
                        "value" : /*[[${operation.result.generatedTicketAmount}]]*/
                    },
                    {
                        "title" : "Pagamentos",
                        "value" : /*[[${operation.result.paymentAmount}]]*/
                    },
                    {
                        "title" : "Atualizações Cadastrais",
                        "value" : /*[[${operation.result.registerUpdateAmount}]]*/

                    }
                ],
                "valueField" : "value",
                "titleField" : "title",
                "marginRight" : 125,
                "marginLeft" : 250,
                "outlineAlpha" : 0.25,
                "alpha": 0.75,
                "labelsEnabled": false,
                "legend": {
                    "position": "left"
                },
                "outlineColor" : "#aaaaaa",
                "outlineThickness" : 1,
                "labelPosition" : "right",
                "hideCredits" : true
            }
        );
    /*]]>*/
    </script>
</body>

</html>