<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title='Calendário')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body>
    <!-- [+] container -->
    <div id="container">
        <!-- [+] navbar -->
        <nav th:replace="comum :: navbar" />
        <!-- [-] navbar -->
        <!-- [+] page-wrapper -->
        <div id="page-wrapper" class="marginleft">
			<button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>   
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" th:text="'Bem vindo, ' + ${#httpServletRequest.remoteUser} + '!'"><i class="fa fa-dashboard"></i> Blank</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i>&nbsp;&nbsp;<a th:href="@{/}">Início</a></li>
                            <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;<a th:href="@{/calendario}">Calendário</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <select id="event-selector">
                        <option value="todos">Todos</option>
                        <option value="envio">Envio</option>
                        <option value="aprovacao">Aprovação</option>
                        <option value="vencimento">Vencimento</option>
                    </select>
                    <div id="calendar"></div>
                    <div id="event-content" title="Detalhes do Evento">
                        <p id="event-idacao"></p>
                        <p id="event-tipoenvio"></p>
                        <p id="event-status"></p>
                        <p id="event-numclientes"></p>
                        <p id="event-numpropostas"></p>
                        <a id="event-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- [-] page-wrapper -->
    </div>
    <!-- [-] container -->
    <script th:replace="comum :: jqueryjs" />
    <script th:replace="comum :: jqueryuijs" />
    <script th:replace="comum :: momentjs" />
    <script th:replace="comum :: fullcalendarjs" />
    <script th:replace="comum :: fullcalendarlangjs" />
    <script th:replace="comum :: bootstrapjs" />
    <script th:replace="comum :: metisjs" />
    <script th:replace="comum :: morrisjs" />
    <script th:replace="comum :: raphaeljs" />
    <script th:replace="comum :: customjs" />
</body>

</html>