<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title='Calendário')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body>
    <div id="container">
        <nav th:replace="comum :: navbar"></nav>
        <div id="page-wrapper">
            <button onclick="topFunction()" id="myBtn" title="Topo">&uarr;</button>                    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb" style="margin-top: 20px;">
                            <li><i class="fa fa-home"></i>&nbsp;&nbsp;<a th:href="@{/}">Início</a></li>
                            <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;<a th:href="@{/calendario}">Calendário</a></li>
                        </ol>
                    </div>
                </div>
 			<div class="row">
                    <div class="col-lg-12">
                      <div class="panel panel-default container-fluid"  style="padding-bottom: 20px; padding-top: 20px">    
                        <div class="col-sm-12 form-inline" align="center" >
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-right: 5px; padding: 5px; float:left; margin-top: 7px; font-size: 16px;">
                                    <span>Carteira:</span>
                                </div>
                                <div class="form-group" style="margin-right: 5px; padding: 5px; float:left;">
                                    <select class="borderform form-control" value="Carteira X" style="padding: 5px;">
										<option>Carteira O</option>
										<option>Carteira Y</option>
										<option>Carteira Z</option>
										<option>Carteira A</option>
									</select>	               
                                </div>   
                                </div>   
                                <div class="col-sm-3">      	
                                <div class="form-group" style="margin-right: 5px; padding: 5px; float:left; margin-top: 7px; font-size: 16px;">
                                    <span>Tipo:</span></div>
                                <div class="form-group" style="margin-right: 5px; padding: 5px; float:left;">
                                    <select id="event-selector" class="borderform form-control" style="padding: 5px;">
                                    <option value="vencimento">Vencimento</option>
									<option value="envio">Envio</option>
									<option value="aprovacao">Aprovação</option>
									<option value="todos">Todos</option>
									</select>			               
                                </div>                                    
                        	   </div>                       	   
                        	   <div class="col-sm-2">      	
                                <div class="buttonsubtitle"><button class="vencimento rounded-box"></button></div>
                                <div style="float:left; margin-top:11px;">Vencimento</div>                                    
                        	   </div>
                        	   
                        	   <div class="col-sm-2">      	
                                <div class="buttonsubtitle"><button class="envio rounded-box"></button></div>
                                <div style="float:left; margin-top:11px;">Envio</div>                                    
                        	   </div>
                        	   
                        	   <div class="col-sm-2">      	
                                <div class="buttonsubtitle"><button class="aprovacao rounded-box"></button></div>
                                <div style= "float:left; margin-top:11px;">Aprovação</div>                                
                        	   </div>
                        </div>
                      </div>
                    </div>
              </div>	
                   <div class="row">
                    <div id="calendar"></div>
                    <div id="event-content" title="Detalhes do Evento">
                        <p id="event-idacao"></p>
                        <p id="event-tipoenvio"></p>
                        <p id="event-status"></p>
                        <p id="event-numclientes"></p>
                        <p id="event-numpropostas"></p>
                        <a id="event-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="comum :: jqueryjs"></script>
    <script th:replace="comum :: jqueryuijs"></script>
    <script th:replace="comum :: momentjs"></script>
    <script th:replace="comum :: fullcalendarjs"></script>
    <script th:replace="comum :: fullcalendarlangjs"></script>
    <script th:replace="comum :: bootstrapjs"></script>
    <script th:replace="comum :: metisjs"></script>
    <script th:replace="comum :: morrisjs"></script>
    <script th:replace="comum :: raphaeljs"></script>
    <script th:replace="comum :: amchartsjs"></script>
    <script th:replace="comum :: amchartsfunneljs"></script>
    <script th:replace="comum :: amchartslightjs"></script>
    <script th:replace="comum :: customjs"></script>
</body>

</html>