<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title='Início')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body>
    <!-- [+] container -->
    <div id="container">
        <!-- [+] navbar -->
        <nav th:replace="comum :: navbar"></nav>
        <!-- [-] navbar -->
        <!-- [+] page-wrapper -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb" style="margin-top: 20px;">
                            <li><i class="fa fa-home"></i>&nbsp;&nbsp;<a th:href="@{/}">Início</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <img src="img/trcdigital.jpg" alt="modernao" height="512" width="512" />
                </div>
            </div>
        </div>
    </div>
    <script th:replace="comum :: jqueryjs"></script>
    <script th:replace="comum :: jqueryuijs"></script>
    <script th:replace="comum :: momentjs"></script>
    <script th:replace="comum :: fullcalendarjs"></script>
    <script th:replace="comum :: fullcalendarlangjs"></script>
    <script th:replace="comum :: bootstrapjs"></script>
    <script th:replace="comum :: metisjs"></script>
    <script th:replace="comum :: morrisjs"></script>
    <script th:replace="comum :: raphaeljs"></script>
    <script th:replace="comum :: amchartsjs"></script>
    <script th:replace="comum :: amchartsfunneljs"></script>
    <script th:replace="comum :: amchartslightjs"></script>
    <script th:replace="comum :: customjs"></script>
</body>

</html>