<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title='Login')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body class="newbackground">
    <div id="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="border-radius: 20px;">
                    <div class="panel-heading panelogin" align="center">
                        <img class=" animation" th:src="@{'/img/negocieweb-logo.png'}" height="35"/>
                    </div>
                    <div class="panel-body" style="padding: 35px;">
                        <form th:action="@{/login}" method="post" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Login" name="login" type="text" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Senha" name="senha" type="password" value="" />
                                </div>
                                <div class="form-group">
                                    <input class="form-group btn btn-lg btn-success btn-block" type="submit" value="Entrar" />
                                </div>
                            </fieldset>
                        </form>
                        <div class="msglogin">
                            <span th:if="${param.erro}" th:text="'Credenciais incorretas.'"></span>
                            <span th:if="${param.logout}" th:text="'Sessão encerrada.'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="comum :: jqueryjs"></script>
    <script th:replace="comum :: bootstrapjs"></script>
    <script th:replace="comum :: customjs"></script>
</body>

</html>