<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="comum :: head (title='Resultados')">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Andre Cassimiro" />
</head>

<body>
    <div id="container">
        <nav th:replace="comum :: navbar"></nav>
        <div id="page-wrapper">
            <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb" style="margin-top: 20px;">
                            <li><i class="fa fa-home"></i>&nbsp;&nbsp;<a th:href="@{/}">Início</a></li>
                            <li><i class="fa fa-folder"></i>&nbsp;&nbsp;<a th:href="@{/resacao}">Resultados Diários</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default container-fluid"  style="padding-bottom: 20px; padding-top: 20px">
                            <form th:action="@{/resacao}" method="get" id="filter">
                                <fieldset>    
                                    <div class="col-sm-4" align="center">
                                        <div><span>Data de Geração</span></div>
                                        <div style="margin-right: 5px; padding: 5px;"><input placeholder="Data inicial" class="textbox-n form-control borderform" type="text" onfocus="(this.type='date')" name="dei" id="dei"/></div>
                                        <div style="margin-right: 5px; padding: 5px;"><input placeholder="Data final" class="textbox-n form-control borderform" type="text" onfocus="(this.type='date')" name="def" id="def"/></div>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div><span>Data de Vencimento</span></div>
                                        <div style="margin-right: 5px; padding: 5px;"><input placeholder="Data inicial" class="textbox-n form-control borderform" type="text" onfocus="(this.type='date')" name="dvi" id="dvi"/></div>
                                        <div style="margin-right: 5px; padding: 5px;"><input placeholder="Data final" class="textbox-n form-control borderform" type="text" onfocus="(this.type='date')" name="dvf" id="dvf"/></div>
                                    </div>
                                    <div class="col-sm-4" align="center">
                                        <div style="padding-bottom: 5px;"><span>Carteira</span></div>
                                        <select class="borderform form-control" name="car" id="car" style="padding: 5px;">
                                            <option th:value="${'0'}" th:text="${'TODAS'}"></option>
                                            <option th:each="carteira : ${carteiras}" th:value="${carteira.idCarteira}" th:text="${carteira.nomeAmigavel}"></option>
                                        </select>
                                        <div style="list-style-type: none" align="right"><button class="apply-acoes rounded-box" type="submit">Aplicar</button></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Resultados totais</div>
                            <div class="panel-body">
                                <div class="col-sm-6">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size: 12px;">                                       
                                    <tbody>
                                            <tr>
                                                <th>Acessos</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numAcessos]), 0, 'POINT')}"></td>
                                            </tr>
                                            <tr>
                                                <th>Propostas Visualizadas</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numVisualProp]), 0, 'POINT')}"></td>
                                            </tr>
                                            <tr>
                                                <th>Propostas Aceitas</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numAceiteProp]), 0, 'POINT')}"></td>
                                            </tr>
                                            <tr>
                                                <th>Contrapropostas</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numContraProp]), 0, 'POINT')}"></td>
                                            </tr>
                                            <tr>
                                                <th>Boletos Gerados</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numBoletosGerados]), 0, 'POINT')}"></td>
                                            </tr>
                                            <tr>
                                                <th>Pagamentos</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numPagamentos]), 0, 'POINT')}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <div id="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading heading-font rounded-heading text-center">Resultados</div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="text-center" rowspan="2">Ação</th>
                                            <th class="text-center" rowspan="2">Carteira</th>
                                            <th class="text-center" rowspan="2">Status</th>
                                            <th class="text-center" colspan="3">Datas</th>
                                            <th class="text-right" rowspan="2">Acessos</th>
                                            <th class="text-right" rowspan="2">Prop. Vis.</th>
                                            <th class="text-right" rowspan="2">Prop. Act.</th>
                                            <th class="text-right" rowspan="2">Contrapropostas</th>
                                            <th class="text-right" rowspan="2">Boletos</th>
                                            <th class="text-right" rowspan="2">Pagamentos</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" >Envio</th>
                                            <th class="text-center" >Aprovação</th>
                                            <th class="text-center" >Validade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="resultado : ${resultados}">
                                            <td class="text-center" th:text="${resultado.idAcaoMascara}"></td>
                                            <td class="text-center" th:text="${resultado.carteira}"></td>
                                            <td class="text-center" th:text="${resultado.statusAcao}"></td>
                                            <td class="text-center" th:text="${resultado.dtEnvio} == null ? '--/--' : ${#dates.format(resultado.dtEnvio, 'dd/MM')}"></td>
                                            <td class="text-center" th:text="${resultado.dtAprovacao} == null ? '--/--' : ${#dates.format(resultado.dtAprovacao, 'dd/MM')}"></td>
                                            <td class="text-center" th:text="${resultado.dtValidade} == null ? '--/--' : ${#dates.format(resultado.dtValidade, 'dd/MM')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numAcessos, 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numVisualProp, 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numAceiteProp, 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numContraProp, 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numBoletosGerados, 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(resultado.numPagamentos, 0, 'POINT')}"></td>
                                        </tr>
                                       <!--  <tr>
                                            <th class="text-center" colspan="6">Totais</th>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numAcessos]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numAcessosFalha]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numVisualProp]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numAceiteProp]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numContraProp]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numBoletosGerados]), 0, 'POINT')}"></td>
                                            <td class="text-right" th:text="${#numbers.formatInteger(#aggregates.sum(resultados.![numPagamentos]), 0, 'POINT')}"></td>
                                        </tr> -->		
                                    </tbody>
                                </table>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="comum :: jqueryjs"></script>
    <script th:replace="comum :: jqueryuijs"></script>
    <script th:replace="comum :: momentjs"></script>
    <script th:replace="comum :: fullcalendarjs"></script>
    <script th:replace="comum :: fullcalendarlangjs"></script>
    <script th:replace="comum :: bootstrapjs"></script>
    <script th:replace="comum :: metisjs"></script>
    <script th:replace="comum :: morrisjs"></script>
    <script th:replace="comum :: raphaeljs"></script>
    <script th:replace="comum :: amchartsjs"></script>
    <script th:replace="comum :: amchartsfunneljs"></script>
    <script th:replace="comum :: amchartslightjs"></script>
    <script th:replace="comum :: customjs"></script>
       <script th:inline="javascript">
    /*<![CDATA[*/
        var NumeAcessos = /*[[${#aggregates.sum(resultados.![numAcessos])}]]*/ 'default';
        var NumePropVisual = /*[[${#aggregates.sum(resultados.![numVisualProp])}]]*/ 'default';
        var NumeAceitProp = /*[[${#aggregates.sum(resultados.![numAceiteProp])}]]*/ 'default';
        var NumeBoletoGer = /*[[${#aggregates.sum(resultados.![numBoletosGerados])}]]*/ 'default';
        var NumePagamentos = /*[[${#aggregates.sum(resultados.![numPagamentos])}]]*/ 'default';
        var NumeContraprop = /*[[${#aggregates.sum(resultados.![numContraProp])}]]*/ 'default';

        
        /*[[${#aggregates.sum(resultados.![numBoletosGerados])}]]*/
        /*[[${#aggregates.sum(resultados.![numContraProp])}]]*/
        var chart = AmCharts.makeChart(
            "chartdiv",
            {
                "type" : "funnel",
                "theme" : "none",
                "dataProvider" : [
                                     {
                                         "title" : "Acessos",
                                         "value" : NumeAcessos
                                     },
                                     {
                                         "title" : "Prop. Visualizadas",
                                         "value" : NumePropVisual
                                     },
                                     {
                                         "title" : "Prop. Aceitas",
                                         "value" : NumeAceitProp
                                     },
                                     {
                                         "title" : "Boletos Gerados",
                                         "value" : NumeBoletoGer
                                     },
                                     {
                                         "title" : "Pagamentos",
                                         "value" : NumePagamentos
                                     },
                                     {
                                         "title" : "Contra Propostas",
                                         "value" : NumeContraprop
                                     },
                                 ],
    
            "balloon" : {
                            "fixedPosition" : true
                        },
            "valueField" : "value",
            "titleField" : "title",
            "marginRight" : 200,
            "marginLeft" : 50,
            "startX" : -500,
            "depth3D" : 25,
            "angle" : 45,
            "outlineAlpha" : 1,
            "outlineColor" : "#FFFFFF",
            "outlineThickness" : 2,
            "labelPosition" : "right",
            "balloonText" : "",
            "export" : {
                           "enabled" : true
                       },
            "hideCredits" : true
            }
        );
    /*]]>*/
    </script>
    
</body>

</html>